.m-s {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.m-i img {
  width: 85%;
  display: flex;
  margin-left: auto;
}
.m-i {
  width: 40%;
}
.m-t {
  width: 40%;
  margin: auto;
}
.m-t h1 {
  color: #58595b;
  font-size: 30px;
}
.m-t p {
  color: #58595b;
  font-size: 12px;
  font-weight: 450;
  margin-top: 15px;
}
.m-t button {
  width: 100px;
  padding: 5px;
  font-size: 15px;
  margin-top: 22px;
  background-color: #43a046;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
